/* Type Selectors */
p {
    color: navy;
}
h1 {
    color: red;
}
/* Class Selectors */
.bold {
    font-weight: bold;
}
/* Id Selector */
#unique_identifier {
    font-style: normal;
}
p :hover {
    background-color: bisque;
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}